/*
.table-row-cell .table-cell: empty {
    -fx-border-color: #660000;
    -fx-border-width: 1px;
}
*/

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: #444444;
}
